* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
}
.container{ /*master container */
    background-color: rgb(209, 203, 203);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}
.header{
    text-align: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.header h2{
    margin: 0;
}
.form-cont{ /* form main-container */
    padding: 30px 40px;
}
.form-input{ /* field & label container*/
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-input label{ /* field labels*/
    display: inline-block;
    margin-bottom: 5px;
}
.form-input input{ /* fields */
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}
.form-input sup{
    color: #e63f2c;
}
/* */
.form-input.success input{ /* style success input*/
    border-color:  #3ac041;
} 
.form-input.error input{ /* style error input*/
    border-color: #e63f2c;
} 
.form-input.success i.fa-check-circle {
    visibility: visible;
    color: #3ac041;
}
.form-input.error i.fa-exclamation-circle{
    visibility: visible;
    color: #e63f2c;
}
/* */
.form-input i { /* icons */
    position: absolute;
    top:  35px;
    right: 10px;
    visibility: hidden;
}
.form-input small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
/* */
.form-input.error small{ /*error message*/
    visibility: visible;
    color: #e63f2c;
}
/* */
.form-cont button{
    background: linear-gradient(to right, teal, rgb(70, 199, 199));
    color: #f0f0f0;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 5em;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow:rgba(0, 0, 0, 0.30) 0 -1.25px 0;
}
.form-cont button:hover{
    background: linear-gradient(to right, rgb(70, 199, 199), teal);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
#forgot-pass{
    margin-top:10px;
    text-align: center;
}
#forgot-pass a{
    text-decoration: none;
    color: black;
    opacity: 0.5;
}
